<div class="container">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-dark">
    <li class="breadcrumb-item"><a class="text-light" href="/user/home">Home</a></li>
    <li class="breadcrumb-item"><a class="text-light" href="/perfis/meuPerfil">Meu Perfil</a></li>
    <li class="breadcrumb-item active" aria-current="page">Histórico</li>
  </ol>
</nav>
</div>
<div class="mx-4 text-center">
    <h3 class="ml-1"><b>Histórico</b></h3>
    <div class="dropdown-divider col-sm-10" style="margin: 0 auto;"></div>
    <div class="table-responsive-sm text-center">
      <table class="table table-bordered col-sm-10  table-dark mt-4" style="margin: 0 auto;">
        <thead>
          <tr class="text-center">
            <th scope="col-1">Tempo estudado</th>
            <th scope="col">Inicio</th>
            <th scope="col">Termino</th>
            <th scope="col">Atividade</th>
            <th scope="col">SubAtividade</th>
            <th scope="col">Método</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
    {{#each users}}
        {{#each tempos}}
            <tr class="text-center">
                <td>{{tempoEstudado}}</td>
                <td>{{inicio}}</td>
                <td>{{termino}}</td>
                <td>{{tipo}}</td>
                <td>{{subTipo}}</td>
                <td>{{metodo}}</td>
                <td>{{novaData}}</td>
                <td>
                  <form action="/authUser/deletarTempo" method="POST">
                    <input name="tempoEstudado" value="{{tempoEstudado}}" hidden>
                    <input name="tipo" value="{{tipo}}" hidden>
                    <input name="id" value="{{_id}}" hidden>
                    <button type="submit" class="btn btn-danger">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                      </svg>
                    </button>
                  </form>
                </td>
            </tr>
        {{/each}}
        {{/each}}
        </tbody>
      </table>
    </div>
</div>