<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark">
      <li class="breadcrumb-item"><a class="text-light" href="/user/home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Meu perfil</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-sm-4 mb-4">
      <div class="col-sm text-center">
      <img src="{{{user.foto}}}" class="card-img-top border border-secondary rounded-circle" style="width: 150px; height: 150px;">
      <form action="/auth/addFoto" method="POST" enctype="multipart/form-data">
        <div class="form-group col-sm">
          <label for="exampleFormControlFile1">Selecione seu avatar</label>
          <input type="file" name="foto" class="form-control-file" id="exampleFormControlFile1" onclick="desocutar()">
          <button type="submit" id="btnn" class="btn my-1 text-light btn-success" hidden >Salvar</button>
        </div>
      </form>
      </div>
      <ul class="list-group list-group-flush m-0 p-0">
        <li class="list-group-item text-center bg-transparent m-0 p-0" style="border: none;"><h5 class="card-title">{{user.name}}</h5></li>
        <li class="list-group-item text-center bg-transparent "style="border: none;"><b class="card-title">Neutrinos: {{user.historico.neutrinos}}</b>
          <div class="spinner-grow spinner-grow-sm text-info" role="status">
            <span class="sr-only"></span>
          </div>
        </li>
        <div class="dropdown-divider mb-3"></div>
        <li class="list-group-item text-center bg-transparent "style="border: none;"><p class="card-text"><b>E-mail</b>: {{user.email}} </p></li>
        <li class="list-group-item text-center bg-transparent " style="border: none;"><p class="card-text"><b>Curso</b>: {{user.curso}} </p></li>
        <li class="list-group-item text-center bg-transparent " style="border: none;"><p class="card-text"><b>Cidade</b>: {{user.cidade}} </p></li>
        <li class="list-group-item text-center bg-transparent " style="border: none;"><p class="card-text"><b>Recado</b>: {{user.recado}} </li>
        <li class="list-group-item text-center bg-transparent  " style="border: none;"><p class="card-text"><b>Bio</b>: {{user.bio}} </p></li>
        <li class="list-group-item text-center bg-transparent " style="border: none;"><p class="card-text"><b>Objetivo</b>: {{user.objetivo}} </p></li>
        <div class="dropdown-divider mb-3"></div>
        <li class="list-group-item text-center bg-transparent " style="border: none;">
          <a href="/perfis/meu-historico" class="text-dark">
            <div class="media">
                <svg class="text-secondary" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-inboxes-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M.125 11.17A.5.5 0 0 1 .5 11H6a.5.5 0 0 1 .5.5 1.5 1.5 0 0 0 3 0 .5.5 0 0 1 .5-.5h5.5a.5.5 0 0 1 .496.562l-.39 3.124A1.5 1.5 0 0 1 14.117 16H1.883a1.5 1.5 0 0 1-1.489-1.314l-.39-3.124a.5.5 0 0 1 .121-.393zM3.81.563A1.5 1.5 0 0 1 4.98 0h6.04a1.5 1.5 0 0 1 1.17.563l3.7 4.625a.5.5 0 0 1-.78.624l-3.7-4.624A.5.5 0 0 0 11.02 1H4.98a.5.5 0 0 0-.39.188L.89 5.812a.5.5 0 1 1-.78-.624L3.81.563z"/>
                  <path fill-rule="evenodd" d="M.125 5.17A.5.5 0 0 1 .5 5H6a.5.5 0 0 1 .5.5 1.5 1.5 0 0 0 3 0A.5.5 0 0 1 10 5h5.5a.5.5 0 0 1 .496.562l-.39 3.124A1.5 1.5 0 0 1 14.117 10H1.883A1.5 1.5 0 0 1 .394 8.686l-.39-3.124a.5.5 0 0 1 .121-.393z"/>
                </svg>
              <div class="media-body">
                <h3 class="ml-1"><b>Meu Histórico</b></h3>
              </div>
            </div>
          </a>
        </li>
        <div class="dropdown-divider mb-3"></div>
        <li class="list-group-item text-center bg-transparent " style="border: none;">
          <a href="/perfis/cronograma" class="text-dark">
            <div class="media">
              <svg class="text-secondary" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-file-text-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M12 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zM5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"/>
              </svg>
            <div class="media-body">
              <h3 class="ml-1"><b>Meu Cronograma</b></h3>
            </div>
          </div>
          </a>
        </li>
        <div class="dropdown-divider mb-3"></div>
        <li class="list-group-item text-center bg-transparent " style="border: none;">
          <div class="media">
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Está funcionalidade estará disponivel em breve.">
              <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-graph-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h1v16H0V0zm1 15h15v1H1v-1z"/>
                <path fill-rule="evenodd" d="M14.39 4.312L10.041 9.75 7 6.707l-3.646 3.647-.708-.708L7 5.293 9.959 8.25l3.65-4.563.781.624z"/>
                <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4h-3.5a.5.5 0 0 1-.5-.5z"/>
              </svg>
            </span>
            <div class="media-body">
              <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Está funcionalidade estará disponivel em breve.">
                <h3 class="ml-1"><b>Minha Evolução</b></h3>
              </span>
            </div>
          </div>
        </li>
        <div class="dropdown-divider mb-3"></div>
        <li class="list-group-item text-center bg-transparent " style="border: none;">
          <a href="/user/conquistas" class="text-dark">
            <div class="media">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-gem" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785l-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004l.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495l5.062-.005L8 13.366 5.47 5.495zm-1.371-.999l-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l2.92-.003 2.193 6.82L1.5 5.5zm7.889 6.817l2.194-6.828 2.929-.003-5.123 6.831z"/>
                </svg>
              <div class="media-body">
                <h3 class="ml-1"><b>Minhas Conquistas</b></h3>
              </div>
            </div>
          </a>
        </li>
        <li class="list-group-item text-center bg-dark" style="border: none;"><a class=" text-light" href="/config/config"><b>Configurações da conta
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tools" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M0 1l1-1 3.081 2.2a1 1 0 0 1 .419.815v.07a1 1 0 0 0 .293.708L10.5 9.5l.914-.305a1 1 0 0 1 1.023.242l3.356 3.356a1 1 0 0 1 0 1.414l-1.586 1.586a1 1 0 0 1-1.414 0l-3.356-3.356a1 1 0 0 1-.242-1.023L9.5 10.5 3.793 4.793a1 1 0 0 0-.707-.293h-.071a1 1 0 0 1-.814-.419L0 1zm11.354 9.646a.5.5 0 0 0-.708.708l3 3a.5.5 0 0 0 .708-.708l-3-3z"/>
            <path fill-rule="evenodd" d="M15.898 2.223a3.003 3.003 0 0 1-3.679 3.674L5.878 12.15a3 3 0 1 1-2.027-2.027l6.252-6.341A3 3 0 0 1 13.778.1l-2.142 2.142L12 4l1.757.364 2.141-2.141zm-13.37 9.019L3.001 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"/>
          </svg>
        </b></a></li>
      </ul>
    </div>
    <div class="col-sm mb-4">
      <h1 class="display-5">Meu feed</h1>
      <div class="dropdown-divider"></div>
  {{#each eventos}}
    <div class="evento col-sm-12 m-0 p-0 my-2">
      <div class="card bg-transparent m-0 p-0">
        <div class="col-sm toast-header bg-light">
          <div class="col-sm">
            <img src="{{foto}}" class="rounded mr-2" alt="..." style="width: 40px; height: 40px;">
            <strong class="mr-auto text-dark">{{name}}</strong>
          </div>
          <div class="col-sm text-right">
            <small class="text-muted"><a class="data" hidden>{{dateCreater}}</a><a class="newDate"></a></small>
          </div>
        </div>
        <div class="card-body text-dark bg-transparent">
          <p class="m-0 p-0">Atividade: {{evento}}</p>
          <p class="sub m-0 p-0">Subatividade: <a class="atv">{{subevento}}</a></p>
          <p class="hora m-0 p-0">Horário da atividade: <a class="VerifHora">{{inicio}} - {{termino}}</a></p>
          <p class="metodoTitulo m-0 p-0">Método: <a class="metodo">{{metodo}}</a></p>
          <b class="m-0 p-0">Neutrinos gerados pela atividade: {{neutrinosGerado}}</b>
          <div class="spinner-grow spinner-grow-sm text-info" role="status">
            <span class="sr-only"></span>
          </div>
        </div>
      </div>
    </div>
{{else}}
<div class="alert alert-warning text-center">Enturme um amigo para acompanhar sua rotina de estudos. Barra superior -> Turma -> Enturma novo amigo. Caso já tenha enturmado, assim que ele praticar alguma atividade na plataforma, aparecerá aqui no seu feed.</div>
{{/each}}

<script>
  function diadasemana(data){
        var recebimento = new Date(data)
    
        var diadasemana = recebimento.getDay().toString()
    
        if(diadasemana == 1){
            return "Segunda-feira"
        }
    
        if(diadasemana == 2){
            return "Terça-feira"
        }
    
        if(diadasemana == 3){
            return "Quarta-feira"
        }
    
        if(diadasemana == 4){
            return "Quinta-feira"
        }
    
        if(diadasemana == 5){
            return "Sexta-feira"
        }
    
        if(diadasemana == 6){
            return "Sabado"
        }
    
        if(diadasemana == 7){
            return "Domingo"
        }
    }

    function novadata(data){
        
        var recebimento = new Date(data) //-- Criando data do momento --//
        var dia = ( recebimento.getDate()).toString() //-- extraindo o dia da data criada --//

    //-- Acrescentando os 0 para quando tiver um algarismo --//
        if(dia < 10){
            dia = "0" + dia
        }
        var mes = (1 + recebimento.getMonth()).toString()
        if(mes < 10){
            mes = "0" + mes
        }

    //-- Extraindo o ano --//
        var ano = recebimento.getFullYear().toString()
        
    
        var datadeRecebimento = dia + "/" + mes + "/" + ano //-- Juntando tudo --//
    
        return datadeRecebimento
    }

    const quantEvento = document.getElementsByClassName("evento").length
    var novaData = ""
    i = 0

    while(i<quantEvento){

      if(document.getElementsByClassName("metodo")[i].innerText == ""){
        document.getElementsByClassName("metodoTitulo")[i].setAttribute("hidden" , "hidden")
      }

      if(document.getElementsByClassName("VerifHora")[i].innerText == "--:-- - --:--" || document.getElementsByClassName("VerifHora")[i].innerText == ""){
        document.getElementsByClassName("hora")[i].setAttribute("hidden" , "hidden")
      }

      if(document.getElementsByClassName("atv")[i].innerText == ""){
        document.getElementsByClassName("sub")[i].setAttribute("hidden" , "hidden")
      }

        data = new Date(document.getElementsByClassName("data")[i].innerHTML)
        novaData = "(" +  novadata(data) + ")"
        novaData = novaData + " - " + diadasemana(data) + " às "
        novaData = novaData + data.getHours() + ":" + data.getMinutes() + ":" + data.getSeconds()
        document.getElementsByClassName("newDate")[i].innerHTML = novaData
        i++
    }
 function desocutar(){
    setTimeout(function(){ document.getElementById("btnn").removeAttribute("hidden", "hidden"); }, 1500);
   
 }
</script>