<div class="card-deck mt-4">
    {{#each artigos}}
    <div class="card text-light bg-dark">
        <div class="card-body">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-dados-tab" data-toggle="tab" href="#nav-dados" role="tab" aria-controls="nav-dados" aria-selected="true">Dados</a>
                </div>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-dados" role="tabpanel" aria-labelledby="nav-dados-tab">
                        <h3 class="card-title"><b><a href="{{{linkDoArtigo}}}" target="_blank" class="text-light">{{tema}}</a></b></h3>
                        <h5>Área: {{grandeArea}}</h5>
                        <h5>Subarea: {{area}}</h5>
                        <h5>Descrição: {{descricao}}</h5>
                        <p>Referência: {{referencias}}</p>    
                        <div class="dropdown-divider"></div>
                        <p class="card-text"><small>Publicado em: {{novaData}}</small></p>
                        <p class="card-text"><small>Autor: {{autor.name}}</small></p>
                        <p class="card-text"><small>Estudante: {{autor.curso}}</small></p>
                    </div>
                </div>
            </nav>
        </div>
    </div>
{{else}}
{{/each}}
</div>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
    async defer>
</script>
<script type="text/javascript">
  var onloadCallback = function() {
    alert("grecaptcha is ready!");
  };
</script>
