<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-dark">
    <li class="breadcrumb-item"><a class="text-light" href="/user/home">Home</a></li>
    <li class="breadcrumb-item"><a class="text-light" href="/tempo/salaIndividual">Minha sala de estudos</a></li>
    <li class="breadcrumb-item"><a class="text-light" href="/resumo/resumos">Meus resumos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Ler resumo</li>
  </ol>
</nav>
<div class="textosEmString" hidden>{{resumo.corpo}}</div>
<div class="container">
  <div class="text-center">
    <h4>Assunto: <b>{{resumo.assunto}}</b></h4>
    <h3>{{resumo.titulo}}</h3>
  </div>
  <div class="textosEmHtml">{{resumo.corpo}}</div>
  <div class="col-sm">
    <form class="mt-4 text-right col-sm" action="/resumoP/deletarResumo" method="POST">
      <input type="" name="id" value="{{resumo._id}}">
      <button type="submit" class="btn text-light" style="background-color: #FA8072;">Deletar
        <svg class="bi bi-trash-fill text-light" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
        </svg>
      </button>
    </form>
  </div>
</div> 


<script>
  const x = document.getElementsByClassName("textosEmString").length
  var resumosEmString = document.getElementsByClassName("textosEmString")
  var i = 0;
  while(i<x){
    document.getElementsByClassName("textosEmHtml")[i].innerHTML = document.getElementsByClassName("textosEmString")[i].innerText
    i++;
  }
</script>