<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark">
      <li class="breadcrumb-item"><a class="text-light" href="/user/home">Home</a></li>
      <li class="breadcrumb-item"><a class="text-light" href="/tempo/salaIndividual">Minha sala de estudos</a></li>
      <li class="breadcrumb-item"><a class="text-light" href="/resumo/resumos">Meus resumos</a></li>
      <li class="breadcrumb-item active" aria-current="page">Ler resumo</li>
    </ol>
  </nav>
  <div class="textosEmString" hidden>{{resumo.corpo}}</div>
  <div class="">
    <h4>Assunto: <b>{{resumo.assunto}}</b></h4>
  </div>
    <div class="dropdown-divider mb-4"></div>
  <div class="text-center">
    <h3>{{resumo.titulo}}</h3>
  </div>
  <div class="textosEmHtml">{{resumo.corpo}}</div>
  <div class="dropdown-divider"></div>
  <div class="textosEmHtml"><b>Referência: </b><a target="_blank" href="{{{resumo.ref}}}">{{resumo.ref}}</a></div>
  <div class="col-sm">
    <form class="mt-4 text-right col-sm" action="/resumoP/deletarResumo" method="POST">
      <input type="" name="id" value="{{resumo._id}}" hidden>
      <button type="submit" onclick="desativarBotao(this)" class="btn text-light" style="background-color: #FA8072;">Deletar
        <svg class="bi bi-trash-fill text-light" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
        </svg>
      </button>
    </form>
  </div>

  <div id="conteudo" hidden>
    <h3>{{resumo.titulo}}</h3>
    <div class="textosEmHtmlpdf">{{resumo.corpo}}</div>
    <div class="textosEmHtmlpdf"><b>Referência: </b><a target="_blank" href="{{{resumo.ref}}}">{{resumo.ref}}</a></div>
  </div>
<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Funcionalidade ainda não está totalmente concluída.">
  <div id="editor"></div>
  <button id="btGerarPDF" class="btn btn-dark">Gerar PDF</button>
</div> 
</span>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js" integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs" crossorigin="anonymous"></script>
<script>
  function desativarBotao(x){
    setTimeout(function(){ x.setAttribute("disabled" , "disabled") }, 100);
  }
  const x = document.getElementsByClassName("textosEmString").length
  var resumosEmString = document.getElementsByClassName("textosEmString")
  var i = 0;
  while(i<x){
    document.getElementsByClassName("textosEmHtml")[i].innerHTML = document.getElementsByClassName("textosEmString")[i].innerText
    i++;
  }

  const y = document.getElementsByClassName("textosEmString").length
  var resumosEmString = document.getElementsByClassName("textosEmString")
  var j = 0;
  while(j<y){
    document.getElementsByClassName("textosEmHtmlpdf")[j].innerHTML = document.getElementsByClassName("textosEmString")[j].innerText
    j++;
  }

  var doc = new jsPDF();
  var specialElementHandlers = {
      '#editor': function (element, renderer) {
          return true;
      }
  };

  $('#btGerarPDF').click(function () {
      doc.fromHTML($('#conteudo').html(), 10, 10, {
          'width': 170,
              'elementHandlers': specialElementHandlers
      });
      doc.save('exemplo-pdf.pdf');
  });
</script>