<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark">
      <li class="breadcrumb-item"><a class="text-light" href="/user/home">Home</a></li>
      <li class="breadcrumb-item"><a class="text-light" href="/tempo/salaIndividual">Minha sala de estudos</a></li>
      <li class="breadcrumb-item active" aria-current="page">Meus resumos</li>
    </ol>
  </nav>
  <h1 class="display-4">Resumos</h1>
  <div class="dropdown-divider"></div>
  <p>Richard Feynman (1918-1988), ganhador do Prêmio Nobel de Física em 1965, desenvolveu uma tecnica para aprimorar a capacidade de memorização e apredizagem em 4 passos.</p>
  <p>1 - Escolha um conceito. Qualquer um que preferir. Pode ser um de macroeconomia, economia doméstica ou qualquer outro assunto. Anote o conceito e estude o conceito escolhido separando por subtemas - o mais importante aí é desenvolver o raciocínio.</p>
  <p>2 - Escreva um resumo como se estivesse ensinando uma criança. Redija, então, o que aprendeu sobre esse conceito. Mas atenção: você precisa fazer isso da maneira mais simples possível. Escreva como se estivesse explicando para uma criança - ainda que isso pareça absurdo e desnecessário, é um passo muito importante.</p>
  <p>3 - Volte no tema e pesquise sobre ele. No passo anterior, provavelmente você encontrou lacunas no seu conhecimento. Coisas que você esqueceu e que não conseguiu explicar. E esse é o momento em que você começa realmente a aprender. Volte à fonte de informações sobre esse tema e pesquise o que ainda falta para entender. Quando você achar que cada subtema está claro, tente escrever no papel a explicação para ele de uma maneira que até uma criança entenderia.</p>
  <p>4 - Revise e simplifique ainda mais. Depois de passar por todas essas etapas, revise o que escreveu e simplifique. Certifique-se novamente de que não usou nenhum jargão associado com o tema que está te intrigando. Leia tudo em voz alta. Preste atenção para perceber se está tudo exposto da maneira mais clara possível. Se a explicação não for simples ou se soar confusa, interprete isso como um sinal de que você não está entendendo algo.</p>
  <div class="dropdown-divider"></div>
    <a type="submit" class="btn btn-dark text-light" href="/resumo/escrever-resumo" >
      Adicionar novo Resumo
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
      </svg>
    </a>
  <table class="table table-bordered  table-dark mt-4">
    <thead>
      <tr class="text-center">
        <th scope="col">Tag</th>
        <th scope="col">Assunto</th>
        <th scope="col">Titulo</th>
        <th scope="col">opções</th>
      </tr>
    </thead>
    <tbody>

  {{#each resumos}}
        <tr class="text-center">
          <th scope="row">{{tag.tags}}</th>
          <td>{{assunto}}</td>
          <td>{{titulo}}</td>
          <td>
            <form action="/resumo/ler-resumo/{{id}}" method="GET">
              <button type="submit" onclick="desativarBotao(this)" class="btn btn-secondary mb-2">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-right-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                  <path fill-rule="evenodd" d="M10.5 5h-4a.5.5 0 0 0 0 1h2.793l-4.147 4.146a.5.5 0 0 0 .708.708L10 6.707V9.5a.5.5 0 0 0 1 0v-4a.5.5 0 0 0-.5-.5z"/>
                </svg>
              </button>
            </form>
          </td>
        </tr>
    {{/each}}
    </tbody>
  </table>
</div>   

<!-- <form action="/salaIndividual/removeResumo" method="POST">
        <input name="id" value="{{id}}" hidden>
        <button type="submit" class="btn btn-danger mb-2">
            <svg class="bi bi-trash-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
            </svg>
        </button>
      </form> -->

<script>
  function desativarBotao(x){
    setTimeout(function(){ x.setAttribute("disabled" , "disabled") }, 100);
  }
</script>