<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark">
      <li class="breadcrumb-item"><a class="text-light" href="/user/home">Home</a></li>
      <li class="breadcrumb-item"><a class="text-light" href="/turma/minha-turma">Minha Turma</a></li>
      <li class="breadcrumb-item active" aria-current="page">Enturmar novo amigo</li>
    </ol>
  </nav>
  <div class="table-responsive-sm text-center">
    <table class="tatable table-dark table-hover col-sm-12 mt-2" style="margin: 0 auto;">
    <thead>
      <tr class="text-center">
        <th scope="col-1"></th>
        <th scope="col">Nome</th>
        <th scope="col">Curso</th>
        <th scope="col">Total estudado</th>
      </tr>
    </thead>
    <tbody>
  {{#each usuarios}}
    {{#if privacidade.rank}}
        <tr class="text-center">
          <th scope="row"><img class="rounded-circle border border-secondary" style="width: 40px; height: 40px;" src="{{foto}}" alt=""></th>
          <td>{{name}}</td>
          <td>{{curso}}</td>
          <td>{{historico.total}} min</td>
          <td>
            <form action="/turmaP/addAmigo" method="POST">
                <input type="text" name="id" value="{{_id}}" hidden>
                <button type="submit" id="desat" onclick="desativarBotao()" class="btn btn-success mx-3 my-1">Enturmar</button>
            </form>
          </td>
        </tr>
        {{else}}
        <div class="alert alert-warning text-center" role="alert">
          <b>Este usuario está com a privacidade ativada.</b>
        </div>
        
        {{/if}}
        {{else}}
        <div class="alert alert-warning text-center" role="alert">
          <b>Usuario não encontrado.</b>
        </div>
    {{/each}}
    </tbody>
  </table>
  </div>

</div>

<script>
    function desativarBotao(){
        setTimeout(function(){ document.getElementById("desat").setAttribute("disabled" , "disabled") }, 100);
    }
</script>