 {{#if sala}}
  <div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark">
      <li class="breadcrumb-item"><a class="text-light" href="/user/home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Minha Sala de estudos</li>
    </ol>
  </nav>
    <div class="col-sm-6 text-center">
    <a href="/resumo/meus-resumos" type="button" class="btn btn-dark mx-3 my-1">Resumos</a>
    <a href="/tempo/notas" type="button" class="btn btn-dark mx-3 my-1">Notas</a>
    <a href="/meta/minhas-metas" type="button" class="btn btn-dark mx-3 my-1">Metas</a>
    </div>
    <div class="dropdown-divider"></div>
    <h1 class="display-4 text-dark">{{sala.nomeSala}}</h1>
      <div class="card-deck my-4">
        {{#each sala}}
          {{#each notas}}
            <div class="col-sm" style="min-width: 300px;">
                <div class="toast bg-light mt-2 text-center" role="alert" aria-live="assertive" aria-atomic="true" data-delay="9999999999"style="min-width:200">
                  <button type="button" class="ml-2 mb-1 close text-light" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button> 
                <div class="toast-body">
                  {{corpo}}
                </div>
              </div>         
            </div>
          {{/each}}
        {{/each}}
      </div>
      <div class="card-deck my-">
          {{#each metas}}
            <div class="col-sm">
                <div class="toast bg-dark" role="alert" aria-live="assertive" aria-atomic="true" data-delay="9999999999">
                <div class="toast-header">
                  <strong class="mr-auto">Data meta: {{dataMeta}}</strong>
                  <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="toast-body text-light">
                  <P class="text-light">{{atividade}}</P>
                </div>
              </div>         
            </div>
          {{/each}}
      </div>

    <div class="dropdown-divider mt-4"></div>
    <h1 class="display-4 text-dark">Estudar - Pomodoro</h1>
      <div class="card-deck">
        <div class="card bg-dark mt-2">
            <div class="card-header">
                <div class="btn-group" role="group">
                      <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Metodos
                      </button>
                      <button type="button" class="btn btn-light btn-sm ml-2" data-toggle="modal" data-target="#musica">
                      Playlists
                      <svg class="bi bi-music-player" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M12 1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                          <path fill-rule="evenodd" d="M11 3H5v3h6V3zM5 2a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H5zm3 11a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                          <circle cx="8" cy="11" r="1"/>
                      </svg>
                      <svg class="bi bi-music-note" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M9 13c0 1.105-1.12 2-2.5 2S4 14.105 4 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
                          <path fill-rule="evenodd" d="M9 3v10H8V3h1z"/>
                          <path d="M8 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 13 2.22V4L8 5V2.82z"/>
                      </svg>
                      </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <div class="row">
                            <div class="col-sm">
                                <div class="list-group" id="list-tab" role="tablist">
                                <a class="list-group-item list-group-item-action dropdown-item" id="btnIniciante" onclick="mostrainiciante()">Iniciante</a>
                                <a class="list-group-item list-group-item-action dropdown-item" id="btnAvacado" onclick="mostraavancado()">Avançado</a>
                                <a class="list-group-item list-group-item-action dropdown-item" id="btnlivre" onclick="mostralivre()">Livre</a>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="card-body" style="margin: 0 auto;">
              <p class="text-light">A Técnica Pomodoro é um método de gerenciamento de tempo desenvolvido por Francesco Cirillo no final dos anos 80. A técnica consiste na utilização de um cronômetro para dividir o trabalho em períodos de 25 minutos, separados por breves intervalos. A técnica deriva seu nome da palavra italiana pomodoro (tomate), como referência ao popular cronômetro gastronômico na forma dessa fruta. O método é baseado na ideia de que pausas frequentes podem aumentar a agilidade mental.</p>
                
                <div class="container" id="exibeIniciante" hidden>
                    <div class="card-deck bg-dark text-light">
                        <div class="card bg-dark text-light">
                          <div class="card-header text-center bg-dark">
                            <div style="line-height:300px;" id="temp" hidden>
                              <b><h3 style="100%" class="text-light" id="mostrador"></h3></b>
                            </div>
                          </div>
                          <div class="card-body col-sm-10" style="margin: 0 auto;">
                            <div>
                              <p class="start text-light">A opção iniciante é para pessoas que perdem facilmente a concentração ou que não possui hábito de estudar. Iniciando está opção, você estudará 25 min e descansará 5 min. O temporizador marcará o total, ou seja, 30 min. Ao passar 25 min, um beep soará, então você deverá parar até o beep soar novamente, marcando o fim de um ciclo e, assim, poderá salvar seu tempo e reiniciar o ciclo.</p>
                              <button id="btniniciarIniciante" class="btn btn-light" style="width: 100%;" onclick="iniciante()" >Iniciar</button>
                            </div>
                            <form action="/authUser/registerTempoPomodoro" method="POST">
                              <input type="hidden" name="id" value="{{user._id}}"></td>
                              <input type="hidden" name="dia" value="{{user.dia}}"></td>
                              <input type="hidden" name="semana" value="{{user.semana}}"></td>
                              <input type="hidden" name="mes" value="{{user.mes}}"></td>
                              <input type="hidden" name="total" value="{{user.total}}"></td>
                              <input type="text" class="form-control text-center" name="inicio" id="inicioBackIniciante" hidden>
                              <input type="text" class="form-control text-center" name="termino" id="fimBackiniciante"  hidden>
                                <div class="form-row">
                                    <div class="form-group mx-sm-3 mb-2" id="labelAIniciante" hidden>
                                    <small class="text-center text-light">Horário de início:</small>
                                    <input class="text-center" type="text" id="inicioIniciante" name="inicio" value="" style="width: 30%; min-width: 50px;">
                                    </div>
                                    <div class="form-group mx-sm-3 mb-2" id="labelBIniciante" hidden>
                                    <small class="text-center text-light">Horário do término:</small>
                                    <input class="text-center" type="text" id="fimIniciante" name="termino" value="" style="width: 30%;">
                                    </div>
                                    <h3 id="avisoiniciante" class="text-light"hidden>Agora, descanse!</h3>
                                </div>
                                <div id="atividadeIniciante" class="col-auto my-1" hidden>
                                  <label class="text-light" for="validationServer01">Informe o tipo da atividade:</label>
                                  <select class="custom-select" name="tipo" size="5" required>
                                    <option value="Estudou">Estudei</option>
                                    <option value="Leitura">Fiz uma Leitura</option>
                                    <option value="Pesquisou">Pesquisa</option>
                                    <option value="Revisou">Revisei</option>
                                    <option value="Exercitou">Exercicios</option>
                                  </select>
                                  <label class="text-light" for="validationServer01">Informe o subtipo da atividade:</label>
                                  <input type="text" class="form-control" name="subTipo" placeholder="O que leu? Qual foi a aula? O que estudou?" id="validationServer01" required>
                                    <button type="submit" class="btn btn-light mt-2">Salvar</button>
                                </div>
                            </form>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="container" id="exibeAvancado" hidden>
                    <div class="card-deck">

                        <div class="card bg-dark">
                          <div class="card-header text-center bg-dark">
                            <div style="line-height:300px;" id="tempAvancado" hidden>
                              <b><h3 style="100%" class="text-light" id="mostradorAvancado"></h3></b>
                            </div>
                          </div>
                          <div class="card-body col-sm-10" style="margin: 0 auto;">
                            <div class="bg-dark">
                              <p class="start text-light">A opção Avançado é para pessoas que possuem o hábito de estudar. Iniciando está opção, estudará 50 min e descansará 10 min. O temporizador marcará o total, ou seja, 60 min. Ao passar 50 min, um beep soará, então você deverá parar até o beep soar novamente, marcando o fim de um ciclo e, assim, poderá salvar seu tempo e reiniciar o ciclo.</p>
                              <button id="btniniciarAvancado" class="btn btn-light" style="width: 100%;" onclick="Avancado()" >Iniciar</button>
                            </div>
                            <form action="/authUser/registerTempoPomodoro" method="POST">
                              <input type="hidden" name="id" value="{{user._id}}"></td>
                              <input type="hidden" name="dia" value="{{user.dia}}"></td>
                              <input type="hidden" name="semana" value="{{user.semana}}"></td>
                              <input type="hidden" name="mes" value="{{user.mes}}"></td>
                              <input type="hidden" name="total" value="{{user.total}}"></td>
                              <input type="text" class="form-control text-center" name="inicio" id="inicioBackAvancado" hidden>
                              <input type="text" class="form-control text-center" name="termino" id="fimBackAvancado"  hidden>
                                <div class="form-row">
                                    <div class="form-group mx-sm-3 mb-2" id="labelAAvancado" hidden>
                                    <small class="text-center text-light">Horário de início:</small>
                                    <input class="text-center" type="text" id="inicioAvancado" name="inicio" value="" style="width: 30%; min-width: 50px;">
                                    </div>
                                    <div class="form-group mx-sm-3 mb-2" id="labelBAvancado" hidden>
                                    <small class="text-center text-light">Horário do término:</small>
                                    <input class="text-center" type="text" id="fimAvancado" name="termino" value="" style="width: 30%;">
                                    </div>
                                    <h3 id="avisoavancado" class="text-light" hidden>Agora, descanse!</h3>
                                </div>
                                <div id="atividadeAvancado" class="col-auto my-1" hidden>
                                  <label class="text-light" for="validationServer01">Informe o tipo da atividade:</label>
                                  <select class="custom-select" name="tipo" size="5" required>
                                    <option value="Estudou">Estudei</option>
                                    <option value="Leitura">Fiz uma Leitura</option>
                                    <option value="Pesquisou">Pesquisa</option>
                                    <option value="Revisou">Revisei</option>
                                    <option value="Exercitou">Exercicios</option>
                                  </select>
                                  <label class="text-light" for="validationServer01">Informe o subtipo da atividade:</label>
                                  <input type="text" class="form-control" name="subTipo" placeholder="O que leu? Qual foi a aula? O que estudou?" id="validationServer01" required>
                                    <button type="submit" class="btn btn-light mt-2">Salvar</button>

                                </div>
                            </form>
                          </div>
                        </div>
                    </div>
                </div>


        <div class="container" id="exibeLivre" hidden>
                    <div class="card-deck">

                        <div class="card bg-dark">
                          <div class="card-header text-center bg-dark">
                            <div style="line-height:300px;" id="tempLivre" hidden>
                              <b><h3 style="100%" class="text-light" id="mostradorLivre"></h3></b>
                            </div>
                          </div>
                          <div class="card-body col-sm-10" style="margin: 0 auto;">
                            <div>
                              <p class="start text-light">Iniciando está opção, você poderá estudar o tempo que quiser e descansará o quanto quiser. O temporizador marcará o total. Ao passar o tempo que você adicionou de estudo, um beep soará, então você deverá parar até o beep soar novamente, marcando o fim de um ciclo e, assim, poderá salvar seu tempo e reiniciar o ciclo.</p>
                              <button id="btniniciarLivre" class="btn btn-light" style="width: 100%;" onclick="Livre()" >Iniciar</button>
                            </div>
                            <form action="/authUser/registerTempoPomodoro" method="POST">
                              <input type="hidden" name="id" value="{{user._id}}"></td>
                              <input type="hidden" name="dia" value="{{user.dia}}"></td>
                              <input type="hidden" name="semana" value="{{user.semana}}"></td>
                              <input type="hidden" name="mes" value="{{user.mes}}"></td>
                              <input type="hidden" name="total" value="{{user.total}}"></td>
                              <div id="mostraInicioLivre" class="form-group mx-sm-3 mb-2" hidden>
                              <small class="text-center text-light">Horário de início:</small>
                              <input class="text-center" type="text" id="inicioBackLivre"  name="inicio"  style="width: 30%; min-width: 50px;">
                              </div>
                              <div id="mostrafimLivre" class="form-group mx-sm-3 mb-2"  hidden>
                              <small class="text-center text-light">Horário do término:</small>
                              <input class="text-center" type="text" id="fimBackLivre" name="termino" style="width: 30%; min-width: 50px;">
                              </div>

                                <div class="form-row">
                                  <div class="form-group mx-sm-3 mb-2" id="labelALivre">
                                    <small class="text-center text-light">Tempo de estudo:</small>
                                    <input type="number" class="form-control text-center" id="inicioLivre" min="0" max="240" placeholder="Em minutos">
                                  </div>
                                  <div class="form-group mx-sm-3 mb-2" id="labelBLivre">
                                    <small class="text-center text-light">Tempo de descanso:</small>
                                    <input type="number" class="form-control text-center" id="fimLivre" min="0" max="240" placeholder="Em minutos">
                                  </div>
                                  <h3 id="avisoLivre" class="text-light" hidden>Agora, descanse!</h3>
                                </div>
                                <div id="atividadeLivre" class="col-auto my-1" hidden>
                                  <label class="text-light" for="validationServer01">Informe o tipo da atividade:</label>
                                  <select class="custom-select" name="tipo" size="5" required>
                                    <option value="Estudou">Estudei</option>
                                    <option value="Leitura">Fiz uma Leitura</option>
                                    <option value="Pesquisou">Pesquisa</option>
                                    <option value="Revisou">Revisei</option>
                                    <option value="Exercitou">Exercicios</option>
                                  </select>
                                  <label class="text-light" for="validationServer01">Informe o subtipo da atividade:</label>
                                  <input type="text" class="form-control" name="subTipo" placeholder="O que leu? Qual foi a aula? O que estudou?" id="validationServer01" required>
                                    <button type="submit" class="btn btn-light mt-2" onclick="enable()">Salvar</button>

                                </div>
                            </form>
                          </div>
                        </div>
                    </div>
                </div>

        <!-- Modal Musica-->
        <div class="modal fade" id="musica" tabindex="-1" role="dialog" aria-labelledby="musica" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-light" id="exampleModalLabel">Relaxe e foque!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              <div class="embed-responsive embed-responsive-21by9">
                <iframe width="853" height="480" src="https://www.youtube.com/embed/5qap5aO4i9A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="dropdown-divider"></div>
              <div class="embed-responsive embed-responsive-21by9">
                <iframe width="853" height="480" src="https://www.youtube.com/embed/0U02UsDg-IM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      </div>
              <div class="dropdown-divider"></div>
              <div class="embed-responsive embed-responsive-21by9">
                <iframe width="836" height="441" src="https://www.youtube.com/embed/acS7_Utso14" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="dropdown-divider"></div>
              <div class="embed-responsive embed-responsive-21by9">
                <iframe width="853" height="480" src="https://www.youtube.com/embed/InMyiG7083k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>                  
              <div class="dropdown-divider"></div>
              <div class="dropdown-divider"></div>
              <div class="embed-responsive embed-responsive-21by9">
                <iframe width="853" height="480" src="https://www.youtube.com/embed/Nz5FU7fOPtM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>
{{else}}
<form action="/salaIndividual/registerIndividual" method="POST">
    <div class="col-sm-6 text-center" style="margin: 0 auto;">
      <label for="staticEmail" class="col-sm-4 col-form-label">Nome da sua sala:</label>
      <input type="text" name="nomeSala" class="form-control-plaintext bg-light" id="nomeSala" required>
          <button type="submit" class="btn btn-light mt-4">Cadastrar minha sala</button>
    </div>
</form>

{{/if}}
<script>

async function beepInicio(){
let context = new AudioContext(),
   oscillator = context.createOscillator();

    oscillator.type = 'sine';
    oscillator.connect(context.destination);
    await oscillator.start(1);
    await oscillator.stop(2)
}

async function beepFim(){
let context = new AudioContext(),
   oscillator = context.createOscillator();

    oscillator.type = 'sawtooth';
    oscillator.connect(context.destination);
    await oscillator.start(1);
    await oscillator.stop(2)
}


function mostrainiciante() {
    document.getElementById("exibeAvancado").setAttribute("hidden", "hidden");
    document.getElementById("exibeLivre").setAttribute("hidden", "hidden");
    document.getElementById("exibeIniciante").removeAttribute("hidden");
}

function mostraavancado() {
    document.getElementById("exibeIniciante").setAttribute("hidden", "hidden");
    document.getElementById("exibeLivre").setAttribute("hidden", "hidden");
    document.getElementById("exibeAvancado").removeAttribute("hidden");

}

function mostralivre() {
    document.getElementById("exibeAvancado").setAttribute("hidden", "hidden");
    document.getElementById("exibeIniciante").setAttribute("hidden", "hidden");
    document.getElementById("exibeLivre").removeAttribute("hidden");
}


function iniciante() {
  var data = new Date()
  var horaInicio = data.getHours()
  var minutoInicio = data.getMinutes()
  var inicio = horaInicio.toString() + ":" + minutoInicio.toString()

  document.getElementById("btniniciarIniciante").setAttribute("hidden", "hidden");
  document.getElementById("btniniciarAvancado").setAttribute("hidden", "hidden");
  document.getElementById("btniniciarLivre").setAttribute("hidden", "hidden");
 // document.getElementById("btniniciarIniciante").setAttribute("hidden", "hidden");

  document.getElementById("temp").removeAttribute("hidden");
  document.getElementById("inicioBackIniciante").setAttribute("value", inicio);
  document.getElementById("inicioIniciante").setAttribute("value", inicio);
  document.getElementById("inicioIniciante").removeAttribute("hidden");
  document.getElementById("inicioIniciante").setAttribute("disabled", "disabled");
  document.getElementById("labelAIniciante").removeAttribute("hidden");


  var minutosToatais = 1800
  var segundo = 0
  var minuto = 30

  async  function min(){

    if(segundo == 0 && minutosToatais>0){
    
    segundo = 60
    minuto = minuto-1
    }

    if(minutosToatais == 300){
      beepInicio()
      var datafim = new Date()
      var horaFinal = datafim.getHours()
      var minutoFinal = datafim.getMinutes()
      var fim = horaFinal.toString() + ":" + minutoFinal.toString()
      document.getElementById("fimIniciante").setAttribute("value", fim);
      document.getElementById("fimBackiniciante").setAttribute("value", fim);
      document.getElementById("fimIniciante").removeAttribute("hidden");
      document.getElementById("fimIniciante").setAttribute("disabled", "disabled");
      document.getElementById("labelBIniciante").removeAttribute("hidden");
      document.getElementById("avisoiniciante").removeAttribute("hidden");

    }

    if( minutosToatais == 0){
      beepFim()
      document.getElementById("atividadeIniciante").removeAttribute("hidden");
      clearInterval(listen)
    }
    minutosToatais = minutosToatais -1
    segundo = segundo - 1
  }


  var listen = setInterval(function(){
    min()
    document.getElementById("mostrador").innerHTML = minuto + ":" + segundo
    
    }, 1000);

}

function Avancado() {
  var data = new Date()
  var horaInicio = data.getHours()
  var minutoInicio = data.getMinutes()
  var inicio = horaInicio.toString() + ":" + minutoInicio.toString()

  document.getElementById("btniniciarIniciante").setAttribute("hidden", "hidden");
  document.getElementById("btniniciarAvancado").setAttribute("hidden", "hidden");
  document.getElementById("btniniciarLivre").setAttribute("hidden", "hidden");
  //document.getElementsByClassName("start")[2].setAttribute("hidden", "hidden");

  document.getElementById("tempAvancado").removeAttribute("hidden");
  document.getElementById("inicioBackAvancado").setAttribute("value", inicio);
  document.getElementById("inicioAvancado").setAttribute("value", inicio);
  document.getElementById("inicioAvancado").removeAttribute("hidden");
  document.getElementById("inicioAvancado").setAttribute("disabled", "disabled");
  document.getElementById("labelAAvancado").removeAttribute("hidden");


  var minutosToatais = 3600
  var segundo = 0
  var minuto = 60

  async  function min(){

    if(segundo == 0 && minutosToatais>0){
    
    segundo = 60
    minuto = minuto-1
    }

    if(minutosToatais == 600){
      var datafim = new Date()
      var horaFinal = datafim.getHours()
      var minutoFinal = datafim.getMinutes()
      var fim = horaFinal.toString() + ":" + minutoFinal.toString()
      document.getElementById("fimAvancado").setAttribute("value", fim);
      document.getElementById("fimBackAvancado").setAttribute("value", fim);
      document.getElementById("fimAvancado").removeAttribute("hidden");
      document.getElementById("fimAvancado").setAttribute("disabled", "disabled");
      document.getElementById("labelBAvancado").removeAttribute("hidden");
      document.getElementById("avisoavancado").removeAttribute("hidden");
      await beepInicio()
    }

    if( minutosToatais == 0){
      await beepFim()
      document.getElementById("atividadeAvancado").removeAttribute("hidden");
      clearInterval(listen)
    }
    minutosToatais = minutosToatais -1
    segundo = segundo - 1
  }


  var listen = setInterval(function(){
    min()
    document.getElementById("mostradorAvancado").innerHTML = minuto + ":" + segundo
    
    }, 1000);

}

function Livre() {
  var data = new Date()
  var horaInicio = data.getHours()
  var minutoInicio = data.getMinutes()
  var inicio = horaInicio.toString() + ":" + minutoInicio.toString()

  document.getElementById("btniniciarIniciante").setAttribute("hidden", "hidden");
  document.getElementById("btniniciarAvancado").setAttribute("hidden", "hidden");
  document.getElementById("btniniciarLivre").setAttribute("hidden", "hidden");

  document.getElementById("tempLivre").removeAttribute("hidden");
  document.getElementById("inicioBackLivre").setAttribute("value", inicio);
  document.getElementById("inicioBackLivre").removeAttribute("hidden");
  document.getElementById("inicioBackLivre").setAttribute("disabled", "disabled");

  document.getElementById("inicioLivre").setAttribute("hidden", "hidden");
  document.getElementById("fimLivre").setAttribute("hidden", "hidden");

  document.getElementById("mostraInicioLivre").removeAttribute("hidden");
  document.getElementById("labelALivre").setAttribute("hidden", "hidden");
  document.getElementById("labelBLivre").setAttribute("hidden", "hidden");

  var minutosDeEstudo = parseInt(document.getElementById("inicioLivre").value)
  var minutosDeDescanso = parseInt(document.getElementById("fimLivre").value)
  var minutosToatais = (parseInt(minutosDeEstudo)+parseInt(minutosDeDescanso))*60
  var segundo = 0
  var exibição = (parseInt(minutosDeEstudo)+parseInt(minutosDeDescanso))
  var minuto = exibição
  alert(minutosToatais)

  async  function min(){

    if(segundo == 0 && minutosToatais>0){
    
    segundo = 60
    minuto = minuto-1
    }

    if(minutosToatais == minutosDeDescanso*60){
      var datafim = new Date()
      var horaFinal = datafim.getHours()
      var minutoFinal = datafim.getMinutes()
      var fim = horaFinal.toString() + ":" + minutoFinal.toString()
      document.getElementById("fimBackLivre").setAttribute("value", fim);
      document.getElementById("mostrafimLivre").removeAttribute("hidden");
      document.getElementById("fimBackLivre").setAttribute("disabled", "disabled");
      await beepInicio()
    }

    if( minutosToatais == 0){
      await beepFim()
      document.getElementById("atividadeLivre").removeAttribute("hidden");
      clearInterval(listen)
    }
    minutosToatais = minutosToatais -1
    segundo = segundo - 1
  }


  var listen = setInterval(function(){
    min()
    document.getElementById("mostradorLivre").innerHTML = minuto + ":" + segundo
    
    }, 1000);

}

function enable(){
    document.getElementById("fimBackLivre").removeAttribute("disabled");
    document.getElementById("inicioBackLivre").removeAttribute("disabled");
}
</script>