<p class="text-light" hidden>Tempo estudado no mes: <b class="meumes">{{user.mes}}</b></p> 
<div class="accordion" id="accordionExample">
  <div class="card bg-secondary">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-light" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h4><b>Histórico</b></h4>
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <div class="col-sm-12 text-center ">
            {{#each tempos}}
            <div class="card text-center mb-2 bg-dark">
            <div class="card-header text-light">
                Data: {{novaData}}
                <svg class="bi bi-calendar3" width="25px" height="25px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                    <path fill-rule="evenodd" d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                </svg>
            </div>
            <div class="card-body">
                <h5 class="card-title text-light"><b class="iniciodeestudos">{{inicio}}</b> às {{termino}}</h5>
                <p class="card-text text-light">Tempo da atividade: <b class="tempodeestudo">{{tempoEstudado}}</b> minutos</p>
                <p class="card-text text-light">Atividade: <b class="tipodeatividade">{{tipo}}</b> - {{subTipo}}</p>
            </div>  
            </div>
            {{else}}
            {{/each}}
        </div>
      </div>
    </div>
  </div>


  <div class="card bg-secondary">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed text-light" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h4><b>Gráficos</b></h4>
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample" style="margin: 0 auto;">
        <div class="card-deck border-secondary">
            <div class="card my-2">
                <div class="card-body col-5-sm">
                <div id="piechart"></div>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card my-2">
                <div class="card-body col-5-sm ">
                    <div id="chart_div"></div>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

</div>


    <script type="text/javascript">

    var tamanho = document.getElementsByClassName("tempodeestudo").length
    var temp_total = 0
    var temposdeaula = 0
    var temposdeestudo = 0
    var temposdeleitura = 0
    var i = 0
    while(i < tamanho){
        temp_total = parseInt(document.getElementsByClassName("tempodeestudo")[i].innerText) + temp_total
        if(document.getElementsByClassName("tipodeatividade")[i].innerText == "Assistiu aula"){
            temposdeaula = temposdeaula + parseInt(document.getElementsByClassName("tempodeestudo")[i].innerText)
        }
        if(document.getElementsByClassName("tipodeatividade")[i].innerText == "Estudou"){
            temposdeestudo = temposdeestudo + parseInt(document.getElementsByClassName("tempodeestudo")[i].innerText)
        }
        if(document.getElementsByClassName("tipodeatividade")[i].innerText == "Leitura"){
            temposdeleitura = temposdeleitura + parseInt(document.getElementsByClassName("tempodeestudo")[i].innerText)
        }
        i++
    }

    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

    var data = google.visualization.arrayToDataTable([
        ['Task', 'Hours per Day'],
        ['Aula',     temposdeaula],
        ['Estudar',      temposdeestudo],
        ['Leitura',  temposdeleitura],
    ]);

    var options = {
        title: 'Percentagem de min estudados em relação ao tipo de atividade'
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
    }


    var tamanho = document.getElementsByClassName("tempodeestudo").length
    var tempomanha = 0
    var tempostarde = 0
    var temposnoite = 0
    var temposmadrugada = 0
    var i = 0
    while(i < tamanho){
    if(parseInt(document.getElementsByClassName("iniciodeestudos")[i].innerText) > 0){
        if(parseInt(document.getElementsByClassName("iniciodeestudos")[i].innerText) < 6){
            temposmadrugada = temposmadrugada + parseInt(document.getElementsByClassName("tempodeestudo")[i].innerText)
        }
    }
    if(parseInt(document.getElementsByClassName("iniciodeestudos")[i].innerText) > 5){
        if(parseInt(document.getElementsByClassName("iniciodeestudos")[i].innerText) < 12){
            tempomanha = tempomanha + parseInt(document.getElementsByClassName("tempodeestudo")[i].innerText)
        }
    }
    if(parseInt(document.getElementsByClassName("iniciodeestudos")[i].innerText) > 11){
        if(parseInt(document.getElementsByClassName("iniciodeestudos")[i].innerText) < 18){
            tempostarde = tempostarde + parseInt(document.getElementsByClassName("tempodeestudo")[i].innerText)
        }
    }
    if(parseInt(document.getElementsByClassName("iniciodeestudos")[i].innerText) > 17){
        if(parseInt(document.getElementsByClassName("iniciodeestudos")[i].innerText) < 24){
            temposnoite = temposnoite + parseInt(document.getElementsByClassName("tempodeestudo")[i].innerText)
        }
    }
    i++
    }

    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

    var data = google.visualization.arrayToDataTable([
    ['City', 'Total de min',],
    ['Madrugada', temposmadrugada],
    ['Manhã', tempomanha],
    ['Tarde', tempostarde],
    ['Noite', temposnoite],
    ]);

    var options = {
    title: 'Total de min estudado em relação ao turno',
    chartArea: {width: '60%'},
    hAxis: {
        title: 'Minutos estudados',
        minValue: 0
    },
    vAxis: {
        title: 'City'
    }
    };

    var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

    chart.draw(data, options);
    }


</script>