<input id="pessoa" type="text" value="{{user.name}}" hidden>
    <div class="toast" role="alert" data-delay="10000" aria-live="assertive" aria-atomic="true">
      <div class="toast-body">
        <p class="text-dark">Estamos criando novas funcionalidades para você. Mandaremos um email quando cada nova funcionalidade estiver pronta para a utilização.</p>
        <p class="text-dark">A plataforma ainda está em fase beta, podendo assim, ocorrer erros e falhas.</p>   
      </div>
    </div>

    <div class="message my-2"></div> 

    <div class="container">
      <div class="bg-dark" id="carbonads" >
        <div class="card-deck" >
        <div class="card bg-dark" style="max-width: 100px; margin: 0px;">
        <img class="avatar" src="" alt="ads via Carbon" border="0" style="max-width: 100px;">
        </div>
          <div class="card bg-dark text-center" style="margin: 0px;">
          <table class="table table-responsive-sm table-dark ">
            <thead>
              <tr>
                <th scope="col">Nível</th>
                <th scope="col">Dia</th>
                <th scope="col">Semana</th>
                <th scope="col">Mes</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="avat"></th>
                <td>{{user.dia}}</td>
                <td>{{user.semana}}</td>
                <td class="mes">{{user.mes}}</td>
                <td class="mes">{{user.total}}</td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
    </div>
  </div>

<!-- Botão para aprensetar o rank Geral  -->
  <div class="card text-center mt-2 bg-dark mb-2">
    <div class="card-header bg-dark">
      <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Você pode adicionar sua atividade indo no seu perfil">
        <button class="btn btn-light mt-2 bnt-responsive-sm btn-sm" style="margin: 0 auto;" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Atividades do dia
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>
        </button>
      </span>
    </div>
    <div class="collapse mt-2" id="collapseExample">
      <table class="table table-bordered table-responsive-sm table-dark text-light">
        <thead>
          <tr>
            <th scope="col">Dia</th>
            <th scope="col">Inicio</th>
            <th scope="col">Termino</th>
            <th scope="col">Atividade</th>
            <th scope="col">status</th> 
          </tr>
        </thead>

        <tbody>
          {{#each atv}}
            {{#if verifSegunda}}
            <tr class="segundaparaapagar" hidden>
              <th scope="row">Segunda</th>
              <td>{{horarioInicial}}</td>
              <td>{{horarioTermino}}</td>
              <td>{{atividade}}</td>
              <td>
                {{#if status}}
                  <button type="button" class="btn btn-outline-success" disabled>Atividade concluída</button>
                {{else}}
              <form action="/authUser/concluiratividade" method="POST"><input type="hidden" name="id" value="{{_id}}">
                  <button type="submit" class="btn btn-outline-light">Concluir atividade</button>
                </form>
                {{/if}}
              </td>
            </tr>
            {{else}}
            {{/if}}
            {{else}}
          {{/each}}
            {{#each atv}}
            {{#if verifTerca}}
            <tr class="tercaparaapagar" hidden>
              <th scope="row">Terça</th>
              <td>{{horarioInicial}}</td>
              <td>{{horarioTermino}}</td>
              <td>{{atividade}}</td>
              <td>
                {{#if status}}
                  <button type="button" class="btn btn-outline-success" disabled>Atividade concluída</button>
                {{else}}
              <form action="/authUser/concluiratividade" method="POST"><input type="hidden" name="id" value="{{_id}}">
                  <button type="submit" class="btn btn-outline-light">Concluir atividade</button>
                </form>
                {{/if}}
              </td>
            </tr>
            {{else}}
            {{/if}}
          {{else}}
          {{/each}}
            {{#each atv}}
            {{#if verifQuarta}}
            <tr class="quartaparaapagar" hidden>
              <th scope="row">Quarta</th>
              <td>{{horarioInicial}}</td>
              <td>{{horarioTermino}}</td>
              <td>{{atividade}}</td>
              <td>
                <form action="/authUser/concluiratividade" method="POST"><input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-outline-secondary">Concluir atividade</button>
                </form> 
              </td>
            </tr>
            {{else}}
            {{/if}}
          {{else}}
          {{/each}}
            {{#each atv}}
            {{#if verifQuinta}}
            <tr class="quintaparaapagar" hidden>
              <th scope="row">Quinta</th>
              <td>{{horarioInicial}}</td>
              <td>{{horarioTermino}}</td>
              <td>{{atividade}}</td>
              <td>
                {{#if status}}
                  <button type="button" class="btn btn-outline-success" disabled>Atividade concluída</button>
                {{else}}
              <form action="/authUser/concluiratividade" method="POST"><input type="hidden" name="id" value="{{_id}}">
                  <button type="submit" class="btn btn-outline-light">Concluir atividade</button>
                </form>
                {{/if}}
              </td>
            </tr>
            {{else}}
            {{/if}}
          {{else}}
          {{/each}}
            {{#each atv}}
            {{#if verifSexta}}
            <tr class="sextaparaapagar" hidden>
              <th scope="row">Sexta</th>
              <td>{{horarioInicial}}</td>
              <td>{{horarioTermino}}</td>
              <td>{{atividade}}</td>
              <td>
                {{#if status}}
                  <button type="button" class="btn btn-outline-success" disabled>Atividade concluída</button>
                {{else}}
              <form action="/authUser/concluiratividade" method="POST"><input type="hidden" name="id" value="{{_id}}"><input type="hidden" name="id" value="{{_id}}">
                  <button type="submit" class="btn btn-outline-light">Concluir atividade</button>
                </form>
                {{/if}}
              </td>
            </tr>
            {{else}}
            {{/if}}
            {{else}}
          {{/each}}
            {{#each atv}}
            {{#if verifSabado}}
            <tr class="sabadoparaapagar" hidden>
              <th scope="row">Sábado</th>
              <td>{{horarioInicial}}</td>
              <td>{{horarioTermino}}</td>
              <td>{{atividade}}</td>
              <td>
                {{#if status}}
                  <button type="button" class="btn btn-outline-success" disabled>Atividade concluída</button>
                {{else}}
              <form action="/authUser/concluiratividade" method="POST"><input type="hidden" name="id" value="{{_id}}">
                  <button type="submit" class="btn btn-outline-light">Concluir atividade</button>
                </form>
                {{/if}}
              </td>
            </tr>
            {{else}}
            {{/if}}
          {{else}}
          {{/each}}
          {{#each atv}}

            {{#if verifDomingo}}
            <tr class="domingoparaapagar" hidden>
              <th scope="row">Domingo</th>
              <td>{{horarioInicial}}</td>
              <td>{{horarioTermino}}</td>
              <td>{{atividade}}</td>
              <td>
                {{#if status}}
                  <button type="button" class="btn btn-outline-success" disabled>Atividade concluída</button>
                {{else}}
              <form action="/authUser/concluiratividade" method="POST"><input type="hidden" name="id" value="{{_id}}">
                  <button type="submit" class="btn btn-outline-light">Concluir atividade</button>
                </form>
                {{/if}}
              </td>
            </tr>
            {{else}}
            {{/if}}
          {{else}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  <div class="card text-center mt-2 bg-dark mb-2">
    <div class="card-header bg-dark">
      <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Trabalhamos diariamente para ajudar você a dar um upgrade nos seus estudos. Se estamos ajudando e caso sinta vontade, ajude-nos a manter a plataforma. Clique em doar e faça sua doação.">
        <button class="btn btn-light mt-2 bnt-responsive-sm btn-sm" style="margin: 0 auto;" type="button" data-toggle="collapse" data-target="#doar" aria-expanded="false" aria-controls="doar">
          Doação
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>
        </button>
      </span>
    </div>
    <div class="collapse mt-2" id="doar">
  <div class="card-deck" >
    <div class="card text-center bg-dark text-light" >
      <img src="/contas/Vakinha.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><b>vakinha.com.br</b></h5>
        <p class="card-text">É um site brasileiro destinado a financiar projetos através de doações de seus usuários online. Por ele você pode realizar um doação por Boleto, ou cartão de crédito. Só clicar no botão abaixo que já será redirecionado para realizar a doação.</p>
          <!-- Button trigger modal -->
      </div>
      <div class="card-footer text-light">
          <h6><a href="http://vaka.me/1188322" target="_blank" class="btn btn-light" >Ir ao site</a></h6>
          <b>Agradecemos sua colaboração <span style='font-size:20; color: red;'>&#9829;</span></b>
			</div>
    </div>

    <div class="card text-center bg-dark text-light">
      <img src="/contas/picPay.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><b>PicPay</b></h5>
        <p class="card-text">O PicPay é um aplicativo fintech capixaba disponível para download em celular Android e iPhone que funciona como uma carteira digital. Para realizar a doação é simples, basta entrar no aplicativo picPac, clicar no ícone que está na parte superior esquerda da tela e, então, apontar a câmera do seu celuar para o QRcode acima.</p>
        <!-- Button trigger modal -->
      </div>
      <div class="card-footer">
          <b>Agradecemos sua colaboração <span style='font-size:20; color: red;'>&#9829;</span></b>
      </div>
    </div>

    <div class="card text-center bg-dark text-light">
      <img src="/contas/Nubank.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><b>NuBank</b></h5>
        <p class="card-text">Nubank é uma empresa startup brasileira pioneira no segmento de serviços financeiros atuando no Brasil. Para realizar sua doação pela NuBank, basta entrar no aplicativo da Nubank, ir em transferir, clicar no ícone que está na parte superior direita da tela e, então, apontar a câmera do seu celuar para o QRcode acima. </p>
        <!-- Button trigger modal -->
      </div>
      <div class="card-footer text-light">
        <b>Agradecemos sua colaboração <span style='font-size:20; color: red;'>&#9829;</span></b>
      </div>
    </div>
  </div>
    </div>
  </div>

  <div class="card-deck" >
    <div class="card text-center bg-dark text-light" >
      <img src="https://66.media.tumblr.com/05b78011f4de0577ae4cd43a683641d9/tumblr_oloxq6IIjt1vl9ohgo1_400.gifv" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><b>Biblioteca</b></h5>
        <p class="card-text">Disponibilizamos uma sala para que você possa ter acesso a livros e artigos. Aqui você pode registrar seus artigos e trabalhos academicos afim de ajudar outras pessoas e realizar divulgação ciêntifica.</p>
          <!-- Button trigger modal -->
      </div>
      <div class="card-footer text-light">
        Clique em Biblioteca na barra superior
			</div>
    </div>

    <div class="card text-center bg-dark text-light">
      <img src="https://data.whicdn.com/images/107195970/original.gif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><b>Músicas para estudar</b></h5>
        <p class="card-text">Disponibilizamos uma playlists de musicas que ajudam no foco e, também, musicas que ajudam a relaxar nas pausas para descanso.</p>
        <!-- Button trigger modal -->
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#musica">
          Playlists
          <svg class="bi bi-music-player" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12 1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
            <path fill-rule="evenodd" d="M11 3H5v3h6V3zM5 2a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H5zm3 11a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <circle cx="8" cy="11" r="1"/>
          </svg>
          <svg class="bi bi-music-note" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 13c0 1.105-1.12 2-2.5 2S4 14.105 4 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
            <path fill-rule="evenodd" d="M9 3v10H8V3h1z"/>
            <path d="M8 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 13 2.22V4L8 5V2.82z"/>
          </svg>
        </button>
      </div>
    </div>

    <div class="card text-center bg-dark text-light">
      <img src="https://secureservercdn.net/198.71.233.179/x92.e8b.myftpupload.com/wp-content/uploads/2019/11/ticking-clock-3.gif?time=1581368292" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><b>Sala do tempo</b></h5>
        <p class="card-text">Disponibilizamos duas categorias para você salvar se tempo. O método pomodoro que auxilia a aumentar a agilidade mental e a sala livre, onde você pode colocar um tempo que você estudou em outro dia ou outro hórario</p>
        <!-- Button trigger modal -->
      </div>
      <div class="card-footer text-light">
        Agradecemos sua colaboração 
      </div>
    </div>
  </div>


<!-- Modal Musica-->
<div class="modal fade" id="musica" tabindex="-1" role="dialog" aria-labelledby="musica" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Relaxe e foque!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="embed-responsive embed-responsive-21by9">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/5qap5aO4i9A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="dropdown-divider"></div>
      <div class="embed-responsive embed-responsive-21by9">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/0U02UsDg-IM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      </div>
      <div class="dropdown-divider"></div>
      <div class="embed-responsive embed-responsive-21by9">
        <iframe width="836" height="441" src="https://www.youtube.com/embed/acS7_Utso14" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="dropdown-divider"></div>
      <div class="embed-responsive embed-responsive-21by9">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/InMyiG7083k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>                  
      <div class="dropdown-divider"></div>
      <div class="dropdown-divider"></div>
      <div class="embed-responsive embed-responsive-21by9">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/Nz5FU7fOPtM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Recado -->
<div class="modal fade" id="recado" tabindex="-1" role="dialog" aria-labelledby="recado" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Escreva seu recado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/authUser/registerRecado" class="was-validated" method="POST">
          <div class="mb-3">
              <input type="text" class="form-control is-valid" placeholder="Fale algo de bom"  id="conteudo" name="recado" value="{{user.recado}}" required>
                <div class="container responsive-sm">
                  <button type="button" class="btn btn-sm">😁</button>
                  <button type="button" class="btn btn-sm">😂</button>
                  <button type="button" class="btn btn-sm">😃</button>
                  <button type="button" class="btn btn-sm">😅</button>
                  <button type="button" class="btn btn-sm">🙌</button> 
                  <button type="button" class="btn btn-sm">🙏</button>
                </div>
          </div>    
          <input type="hidden" name="id" value="{{user._id}}">
        <button type="submit" class="btn btn-secondary">Salvar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </form>
      </div>
    </div>
  </div>
<script>
//'<a class="msg">'+message+' Está online<a>'
    function render(message){
      $('.message').append('<div class="msg card text-center bg-secondary text-light mt-2" style="position: relative; min-width: 20%;max-width: 35%">'+message+' Está online</div>')
       setTimeout(function(){ $('.msg').remove( ) }, 5000);
    }


    socket.on('receivedMessage', function(message) {
        render(message);
    })


    if(window.navigator.onLine){
        render( document.getElementById("pessoa").value )
        socket.emit('sendMessage', document.getElementById("pessoa").value)

    }

/*
    socket.on('previousMessages', function(messages) {
        for(message of messages){
            render(message);
        }
    })
*/
  

  const meumes = parseInt(document.getElementsByClassName("mes")[0].innerText)
  if(meumes <= 600){
      document.getElementsByClassName("avatar")[0].setAttribute("src", "/1.gif");
      document.getElementsByClassName("avat")[0].innerHTML = "Nível 1 - Darwin Evolution"
  } else{
    if(meumes <= 1200){
        document.getElementsByClassName("avatar")[0].setAttribute("src", "/2.gif");
        document.getElementsByClassName("avat")[0].innerHTML = "Nível 2 - Einstein Relativo"
    }
    else{
    if(meumes <= 1800){
      document.getElementsByClassName("avatar")[0].setAttribute("src", "/3.gif");
      document.getElementsByClassName("avat")[0].innerHTML = "Nível 3 - Issac Graviton"
    }else{
    if(meumes <= 2400){
      document.getElementsByClassName("avatar")[0].setAttribute("src", "/4.gif");
      document.getElementsByClassName("avat")[0].innerHTML = "Nível 4 - PitEureka"
    }else{
    if(meumes <= 3000){
      document.getElementsByClassName("avatar")[0].setAttribute("src", "/5.gif");
      document.getElementsByClassName("avat")[0].innerHTML = "Nível 5 - Hawking Singular"
    } else{
    if(meumes <= 3600){
      document.getElementsByClassName("avatar")[0].setAttribute("src", "/6.gif");
      document.getElementsByClassName("avat")[0].innerHTML = "Nível 6 -Pit o quadrado dos catetos"
    }else{
      if(meumes <= 4300){
      document.getElementsByClassName("avatar")[0].setAttribute = ("src", "/7.gif");
      document.getElementsByClassName("avat")[0].innerHTML = "Nível 7 - Tesla o Iluminado"
    }else{
      if(meumes > 4300){
        document.getElementsByClassName("avatar")[0].setAttribute("src", "/8.gif");
        document.getElementsByClassName("avat")[0].innerHTML = ("Nível 8 - Marie Curie a mulher dos dois Nobels");
       }
    }
    }
    }
    }
    }
  }
  }


var data = new Date()
numeroSemana =  data.getDay()

const x = 15
var i = 0

while(i < x){
  if(numeroSemana == 0){
    document.getElementsByClassName("domingoparaapagar")[i].removeAttribute("hidden")
  }
  if(numeroSemana == 1){
    document.getElementsByClassName("segundaparaapagar")[i].removeAttribute("hidden")
  }
  if(numeroSemana == 2){
    document.getElementsByClassName("tercaparaapagar")[i].removeAttribute("hidden")
  }
  if(numeroSemana == 3){
    document.getElementsByClassName("quartaparaapagar")[i].removeAttribute("hidden")
  }
  if(numeroSemana == 4){
    document.getElementsByClassName("quintaparaapagar")[i].removeAttribute("hidden")
  }
  if(numeroSemana == 5){
    document.getElementsByClassName("sextaparaapagar")[i].removeAttribute("hidden")
  }
  if(numeroSemana == 6){
    document.getElementsByClassName("sabadoparaapagar")[i].removeAttribute("hidden")
  }
  i++
}

</script>